.form-container {
  padding: 1.5rem;
}

.error small {
  color: red;
  font-size: 0.8rem;
}

/* Thank You popup */
.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.greeting {
  background: rgb(0, 0, 0);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  color: white;
}

.button {
  margin-top: 1rem;
  background: #6ce19f;
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 2px;
  cursor: pointer;
}
